WebService/Connected Services/CartableService/Cartable7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MMS.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MMS.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cartable">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseCartable">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cartable" nillable="true" type="tns:Cartable" />
  <xs:complexType name="BaseCartable">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrentUserID" type="xs:long" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FlowID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="FlowState" type="xs:int" />
          <xs:element minOccurs="0" name="FlowStatus" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ID" type="xs:long" />
          <xs:element minOccurs="0" name="LastModifyDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ObjectID" type="xs:long" />
          <xs:element minOccurs="0" name="SenderID" type="xs:long" />
          <xs:element minOccurs="0" name="Status" type="xs:int" />
          <xs:element minOccurs="0" name="TaskID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="TaskStatus" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Type" type="xs:int" />
          <xs:element minOccurs="0" name="duration" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseCartable" nillable="true" type="tns:BaseCartable" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="InsertDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InsertedBy" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="RequestWorkflow">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcceptorID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CancellationReasonID" type="xs:long" />
      <xs:element minOccurs="0" name="Cartable" nillable="true" type="tns:Cartable" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileRequestID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InsertBy" type="xs:long" />
      <xs:element minOccurs="0" name="RequestNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestStatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TerminalID" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestWorkflow" nillable="true" type="tns:RequestWorkflow" />
</xs:schema>