WebService/Connected Services/CartableService/CartableService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CartableService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.16.11.82:9007/MMS/Cartable?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.16.11.82:9007/MMS/Cartable?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.16.11.82:9007/MMS/Cartable?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MMS.BLL" />
      <xsd:import schemaLocation="http://172.16.11.82:9007/MMS/Cartable?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MMS.Model" />
      <xsd:import schemaLocation="http://172.16.11.82:9007/MMS/Cartable?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://172.16.11.82:9007/MMS/Cartable?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/MMS.BLL.PublicCartable" />
      <xsd:import schemaLocation="http://172.16.11.82:9007/MMS/Cartable?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MMS.Model.Enum" />
      <xsd:import schemaLocation="http://172.16.11.82:9007/MMS/Cartable?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://172.16.11.82:9007/MMS/Cartable?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://172.16.11.82:9007/MMS/Cartable?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICartableService_FindAllCartableRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllCartableRecord" />
  </wsdl:message>
  <wsdl:message name="ICartableService_FindAllCartableRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllCartableRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ICartableService_InsertTask_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTask" />
  </wsdl:message>
  <wsdl:message name="ICartableService_InsertTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ICartableService_UpdateTaskDuration_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTaskDuration" />
  </wsdl:message>
  <wsdl:message name="ICartableService_UpdateTaskDuration_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTaskDurationResponse" />
  </wsdl:message>
  <wsdl:message name="ICartableService_SeenTaskInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SeenTaskInfo" />
  </wsdl:message>
  <wsdl:message name="ICartableService_SeenTaskInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeenTaskInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ICartableService_ForwardTask_InputMessage">
    <wsdl:part name="parameters" element="tns:ForwardTask" />
  </wsdl:message>
  <wsdl:message name="ICartableService_ForwardTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForwardTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ICartableService_InsertRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRequest" />
  </wsdl:message>
  <wsdl:message name="ICartableService_InsertRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ICartableService_UpdateRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRequest" />
  </wsdl:message>
  <wsdl:message name="ICartableService_UpdateRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ICartableService_DeleteRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRequest" />
  </wsdl:message>
  <wsdl:message name="ICartableService_DeleteRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="ICartableService">
    <wsdl:operation name="FindAllCartableRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartableService/FindAllCartableRecord" message="tns:ICartableService_FindAllCartableRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartableService/FindAllCartableRecordResponse" message="tns:ICartableService_FindAllCartableRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartableService/InsertTask" message="tns:ICartableService_InsertTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartableService/InsertTaskResponse" message="tns:ICartableService_InsertTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTaskDuration">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartableService/UpdateTaskDuration" message="tns:ICartableService_UpdateTaskDuration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartableService/UpdateTaskDurationResponse" message="tns:ICartableService_UpdateTaskDuration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SeenTaskInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartableService/SeenTaskInfo" message="tns:ICartableService_SeenTaskInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartableService/SeenTaskInfoResponse" message="tns:ICartableService_SeenTaskInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForwardTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartableService/ForwardTask" message="tns:ICartableService_ForwardTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartableService/ForwardTaskResponse" message="tns:ICartableService_ForwardTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartableService/InsertRequest" message="tns:ICartableService_InsertRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartableService/InsertRequestResponse" message="tns:ICartableService_InsertRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartableService/UpdateRequest" message="tns:ICartableService_UpdateRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartableService/UpdateRequestResponse" message="tns:ICartableService_UpdateRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartableService/DeleteRequest" message="tns:ICartableService_DeleteRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartableService/DeleteRequestResponse" message="tns:ICartableService_DeleteRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICartableService" type="tns:ICartableService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindAllCartableRecord">
      <soap:operation soapAction="http://tempuri.org/ICartableService/FindAllCartableRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTask">
      <soap:operation soapAction="http://tempuri.org/ICartableService/InsertTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTaskDuration">
      <soap:operation soapAction="http://tempuri.org/ICartableService/UpdateTaskDuration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeenTaskInfo">
      <soap:operation soapAction="http://tempuri.org/ICartableService/SeenTaskInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForwardTask">
      <soap:operation soapAction="http://tempuri.org/ICartableService/ForwardTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRequest">
      <soap:operation soapAction="http://tempuri.org/ICartableService/InsertRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequest">
      <soap:operation soapAction="http://tempuri.org/ICartableService/UpdateRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRequest">
      <soap:operation soapAction="http://tempuri.org/ICartableService/DeleteRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CartableService">
    <wsdl:port name="BasicHttpBinding_ICartableService" binding="tns:BasicHttpBinding_ICartableService">
      <soap:address location="http://172.16.11.82:9007/MMS/Cartable" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>