WebService/Connected Services/CartableService/Cartable8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MMS.BLL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MMS.BLL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.11.82:9007/MMS/Cartable?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MMS.BLL.PublicCartable" />
  <xs:import schemaLocation="http://172.16.11.82:9007/MMS/Cartable?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MMS.Model" />
  <xs:import schemaLocation="http://172.16.11.82:9007/MMS/Cartable?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
  <xs:import schemaLocation="http://172.16.11.82:9007/MMS/Cartable?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:complexType name="BasePagingInputOfCartableValueaLASQhIl">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BasePagingInputOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MMS.BLL" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CartableValue" Namespace="http://schemas.datacontract.org/2004/07/MMS.BLL.PublicCartable" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="Count" type="xs:int" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MMS.BLL.PublicCartable" minOccurs="0" name="Value" nillable="true" type="q1:CartableValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BasePagingInputOfCartableValueaLASQhIl" nillable="true" type="tns:BasePagingInputOfCartableValueaLASQhIl" />
  <xs:complexType name="BaseInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAgent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseInput" nillable="true" type="tns:BaseInput" />
  <xs:complexType name="BasePagingResultOfArrayOfCartableValueaLASQhIl">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BasePagingResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MMS.BLL" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCartableValue" Namespace="http://schemas.datacontract.org/2004/07/MMS.BLL.PublicCartable" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:long" />
      <xs:element minOccurs="0" name="ExceptionCode" type="xs:int" />
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MMS.BLL.PublicCartable" minOccurs="0" name="Value" nillable="true" type="q2:ArrayOfCartableValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasePagingResultOfArrayOfCartableValueaLASQhIl" nillable="true" type="tns:BasePagingResultOfArrayOfCartableValueaLASQhIl" />
  <xs:complexType name="BaseInputOfCartableGtasGmS9">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseInputOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MMS.BLL" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Cartable" Namespace="http://schemas.datacontract.org/2004/07/MMS.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseInput">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MMS.Model" minOccurs="0" name="Value" nillable="true" type="q3:Cartable" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseInputOfCartableGtasGmS9" nillable="true" type="tns:BaseInputOfCartableGtasGmS9" />
  <xs:complexType name="BaseResultOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MMS.BLL" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResultOfboolean" nillable="true" type="tns:BaseResultOfboolean" />
  <xs:complexType name="BaseResult">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.ServiceModel" minOccurs="0" name="Exception" nillable="true" type="q4:FaultException" />
      <xs:element minOccurs="0" name="ExceptionCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResult" nillable="true" type="tns:BaseResult" />
  <xs:complexType name="BaseInputOflong">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseInputOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MMS.BLL" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseInputOflong" nillable="true" type="tns:BaseInputOflong" />
  <xs:complexType name="BaseInputOfCartableValueaLASQhIl">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseInputOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MMS.BLL" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CartableValue" Namespace="http://schemas.datacontract.org/2004/07/MMS.BLL.PublicCartable" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseInput">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MMS.BLL.PublicCartable" minOccurs="0" name="Value" nillable="true" type="q5:CartableValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseInputOfCartableValueaLASQhIl" nillable="true" type="tns:BaseInputOfCartableValueaLASQhIl" />
  <xs:complexType name="BaseInputOfRequestWorkflowGtasGmS9">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseInputOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MMS.BLL" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RequestWorkflow" Namespace="http://schemas.datacontract.org/2004/07/MMS.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseInput">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MMS.Model" minOccurs="0" name="Value" nillable="true" type="q6:RequestWorkflow" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseInputOfRequestWorkflowGtasGmS9" nillable="true" type="tns:BaseInputOfRequestWorkflowGtasGmS9" />
  <xs:complexType name="BaseResultOfKeyValuePairOflongstringR8RmUPp7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MMS.BLL" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic">
            <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResult">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="Value" type="q7:KeyValuePairOflongstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResultOfKeyValuePairOflongstringR8RmUPp7" nillable="true" type="tns:BaseResultOfKeyValuePairOflongstringR8RmUPp7" />
  <xs:complexType name="BaseResultOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MMS.BLL" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResultOfint" nillable="true" type="tns:BaseResultOfint" />
  <xs:complexType name="BaseInputOfArrayOfCartableValueaLASQhIl">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseInputOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MMS.BLL" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCartableValue" Namespace="http://schemas.datacontract.org/2004/07/MMS.BLL.PublicCartable" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseInput">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MMS.BLL.PublicCartable" minOccurs="0" name="Value" nillable="true" type="q8:ArrayOfCartableValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseInputOfArrayOfCartableValueaLASQhIl" nillable="true" type="tns:BaseInputOfArrayOfCartableValueaLASQhIl" />
  <xs:complexType name="BaseResultOfArrayOfKeyValuePairOflongbooleanR8RmUPp7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MMS.BLL" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfKeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic">
            <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResult">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="Value" nillable="true" type="q9:ArrayOfKeyValuePairOflongboolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResultOfArrayOfKeyValuePairOflongbooleanR8RmUPp7" nillable="true" type="tns:BaseResultOfArrayOfKeyValuePairOflongbooleanR8RmUPp7" />
</xs:schema>